*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b62ff;
  font-family: Montserrat, sans-serif;
  color: #333333;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

ul {
  padding-top: 1rem;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
}

#rating-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 353px;
  height: 326px;
  border: #e0e0e0 1px solid;
  border-radius: 10px;
  padding: 24px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#history-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 353px;
  border: #e0e0e0 1px solid;
  border-radius: 10px;
  padding: 24px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.replay-container {
  display: flex;
  justify-content: end;
}

.replay-btn {
  cursor: pointer;
}

.replay-btn:hover {
  content: url("https://rating-component.s3.eu-west-3.amazonaws.com/assets/replay_hover.svg");
}

.wrapper-stars {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rating-star {
  cursor: pointer;
}
